@import "tailwindcss";

:root {
  --background: #171616;
  --button: #ff7300;
  --marque-text: #484848;
  --primary: #0b0b0b;
}

@theme inline {
  --color-background: var(--background);
  --color-button: var(--button);
  --color-marque-text: var(--marque-text);
  --color-primary: var(--primary);

  --font-kode: var(--font-kode-mono);

  --animate-marquee-left: marquee-left 50s linear infinite;

  @keyframes marquee-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171616;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

